@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap");

body {
  background-image: url(../public/assets/map1.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.eldenHeader img {
  width: 65%;
  opacity: 0.86;
  background-image: url(../public/assets/elden-ring-bg.webp);
  background-size: cover;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
}

.ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 0;
  margin: 0;
}

.ul li {
  height: 150px;
  width: 250px;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 10px 5px 5px black;
}

#Limgrave {
  background-image: url(../public/assets/limgrave-location-elden-ring-wiki-guide.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 24px;
}

#Weeping-Peninsula {
  background-image: url(../public/assets/weeping-peninsula-location.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#Liurnia-of-the-Lakes {
  background-image: url(../public/assets/liurnia-lakes-hub-location.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#Caelid {
  background-image: url(../public/assets/caelid-hub-location.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#Dragonbarrow {
  background-image: url(../public/assets/dragonbarrow-region-location.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#Altus-Plateau {
  background-image: url(../public/assets/altus-plateau-location.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#Mount-Gelmir {
  background-image: url(../public/assets/mt-gelmir-location.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#Mountaintops-of-the-Giants {
  background-image: url(../public/assets/mountaintops-giants-location.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#Consecrated-Snowfield {
  background-image: url(../public/assets/consecrated-snowfield-location.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.liurnaCard {
  font-size: 24px;
  font-family: "Cinzel Decorative", cursive;
  color: #eaeaea;
  display: block;
  margin: 0 auto;
}

#goToBeastpage {
  font-size: 44px;
  font-family: "Cinzel Decorative", cursive;
  align-items: center;
  height: 250px;
  width: 550px;
  border-radius: 15px;
  box-shadow: 10px 5px 5px black;
  margin: 8% 19%;
  background-color: #000000;
  background-image: url(../public/assets/eye.jpg);
  background-size: cover;
}

#linktobeastpage {
  color: beige;
  justify-content: center;
  align-content: center;
}
